.login-container {
  max-width: 400px;
  margin: auto;
}

/* Style for the form */
.loginr-form {
  margin-top: 20px;
}

/* Style for form labels */
.login-form label {
  display: block;
  margin-bottom: 8px;
}

/* Style for form inputs */
.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

/* Style for the submit button */
.login-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

  /* Style for the submit button on hover */
  .login-form button:hover {
    background-color: #45a049;
  }
