h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}


  button:hover {
    background-color: #45a049;
  }

  /*Delete button*/
.close-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff3333; /* Червоний фон */
  border: none;
  color: #ffffff; /* Білий колір тексту */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
}

  .close-button::before,
  .close-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #ffffff; /* Білий колір хрестика */
    transform: translate(-50%, -50%);
  }

  .close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .close-button:hover {
    background-color: #cc0000; /* Змінюємо фон при наведенні */
  }
